body[b-1edm1f6o9k] {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1[b-1edm1f6o9k] {
    color: #333;
}

.contenedor[b-1edm1f6o9k] {
    padding: 20px;
}

.btn[b-1edm1f6o9k] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn-primary[b-1edm1f6o9k] {
    background-color: #007bff; /* Azul */
    color: white;
}

.btn:hover[b-1edm1f6o9k] {
    opacity: 0.8;
}

.btn-danger[b-1edm1f6o9k] {
    background-color: #dc3545; /* Rojo */
    color: white;
}

.btn-success[b-1edm1f6o9k] {
    background-color: #007bff; /* Azul */
    color: white;
}

.btn-info[b-1edm1f6o9k] {
    background-color: #007bff; /* Azul */
    color: white;
}

.btn-warning[b-1edm1f6o9k] {
    background-color: #007bff; /* Azul */
    color: white;
}

.modal[b-1edm1f6o9k] {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-content[b-1edm1f6o9k] {
    padding: 20px;
}

div[style*="color: red;"][b-1edm1f6o9k] {
    color: red;
}

div[style*="color: green;"][b-1edm1f6o9k] {
    color: green;
}

.popup[b-1edm1f6o9k] {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 999;
}

.popup-red[b-1edm1f6o9k] {
    background-color: red;
}

.popup.show[b-1edm1f6o9k] {
    display: block;
    opacity: 1;
}

.table-compact[b-1edm1f6o9k] {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table-compact th[b-1edm1f6o9k], .table-compact td[b-1edm1f6o9k] {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.table-compact th[b-1edm1f6o9k] {
    background-color: #f2f2f2;
}

.action-buttons[b-1edm1f6o9k] {
    display: flex;
    justify-content: space-around;
}

.action-buttons button[b-1edm1f6o9k] {
    margin-right: 5px;
}

.green-notification[b-1edm1f6o9k] {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.red-notification[b-1edm1f6o9k] {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

select[b-1edm1f6o9k] {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"][b-1edm1f6o9k], input[type="email"][b-1edm1f6o9k], input[type="password"][b-1edm1f6o9k], select[b-1edm1f6o9k] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus[b-1edm1f6o9k], input[type="email"]:focus[b-1edm1f6o9k], input[type="password"]:focus[b-1edm1f6o9k], select:focus[b-1edm1f6o9k] {
    border-color: #007bff; /* Azul al enfocar */
    outline: none;
}

label[b-1edm1f6o9k] {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.modal-content div[b-1edm1f6o9k] {
    margin-bottom: 15px;
}

.error-message[b-1edm1f6o9k] {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.modal-content button[b-1edm1f6o9k] {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.modal-content button:hover[b-1edm1f6o9k] {
    opacity: 0.8;
}
