*[b-msuq90x3ih] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-msuq90x3ih] {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1[b-msuq90x3ih], h2[b-msuq90x3ih] {
    text-align: center;
    color: #333;
}

.contenedor[b-msuq90x3ih] {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.formulario-seccion[b-msuq90x3ih] {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.titulo[b-msuq90x3ih] {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
}

.elemento-input[b-msuq90x3ih] {
    margin-bottom: 15px;
}

.elemento-input input[b-msuq90x3ih], .elemento-input select[b-msuq90x3ih] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.boton-inicio[b-msuq90x3ih] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Espacio entre botones */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton-inicio:hover[b-msuq90x3ih] {
    background-color: #0056b3;
    transform: translateY(-2px); /* Efecto hover de elevación */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.error-message[b-msuq90x3ih] {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}