@page "/Home"
@using SGI.Aplicacion;
@inject Usuario usuarioActual;

<PageTitle>SGI</PageTitle>

<h1>Sistema de gestion de inventario </h1>
@if(usuarioActual.IdUsuario != null){
    <p>Bienvenido @usuarioActual.Nombre @usuarioActual.Apellido !</p>
}

@code{

}

