@page "/"
@page "/Home"
@using SGI.Aplicacion;
@inject Usuario usuarioActual;
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>SGI</PageTitle>

<div class="contenedor">
    <h1>Sistema de gestión de inventario</h1>

    @if (usuarioActual.IdUsuario != 0)
    {
        <div class="bienvenida">
            <p class="mensaje-bienvenida">Bienvenido al Sistema de Gestión de Inventario!</p>
            <p>BIENVENIDO @usuarioActual.Nombre.ToUpper() @usuarioActual.Apellido.ToUpper()</p>
        </div>
    }
    else
    {
        <div class="bienvenida">
            <p class="mensaje-bienvenida">Bienvenido al Sistema de Gestión de Inventario!</p>
            <p class="subtitulo">Inicie sesión para acceder a las funcionalidades</p>
            <button class="boton-inicio" @onclick="IniciarSesion">Iniciar sesión</button>
        </div>
    }
</div>

@code {
    private void IniciarSesion()
    {
        // Redirigir a la página de inicio de sesión
        Navigation.NavigateTo("/IniciarSesion");
    }
}
