@page "/IniciarSesion"
@using SGI.Aplicacion
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioIniciarSesion iniciarsession;
@inject NavigationManager Navigation;

<EditForm Model="this" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="correo">Correo</label>
        <InputText id="correo" @bind-Value="email" required />
    </div>

    <div>
        <label for="contrase침a">Contrase침a</label>
        <InputText type="password" id="contrase침a" @bind-Value="password" required />
    </div>

    <button type="submit">Iniciar sesi칩n</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div style="color: red;">
        @errorMessage
    </div>
}

@code {
    private string email;
    private string password;
    private string errorMessage;

    private void HandleSubmit()
    {
        try
        {
            var usuarioActual = iniciarsession.Ejecutar(email, password);
            Navigation.NavigateTo($"/Home/{usuarioActual.IdUsuario}");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
