@page "/IniciarSesion"
@inject Usuario usuarioActual
@using SGI.Aplicacion
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioIniciarSesion iniciarsession;
@inject NavigationManager Navigation;

<PageTitle>Iniciar Sesión</PageTitle>

<div class="contenedor">
    <h1 class="titulo">Iniciar Sesión</h1>

    <EditForm Model="this" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="elemento-input">
            <label for="correo">Correo</label>
            <InputText id="correo" @bind-Value="email" required />
        </div>

        <div class="elemento-input">
            <label for="contraseña">Contraseña</label>
            <InputText type="password" id="contraseña" @bind-Value="password" required />
        </div>

        <button type="submit" class="boton-inicio">Iniciar sesión</button>
    </EditForm>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error-message">
            @errorMessage
        </div>
    }
</div>

@code {
    private string? email;
    private string? password;
    private string? errorMessage;

    private void HandleSubmit()
    {
        try
        {
            var datosDeUsuario = iniciarsession.Ejecutar(email!, password!);
            usuarioActual.IdUsuario = datosDeUsuario.IdUsuario;
            usuarioActual.Nombre = datosDeUsuario.Nombre;
            usuarioActual.Apellido = datosDeUsuario.Apellido;
            usuarioActual.Email = datosDeUsuario.Email;
            usuarioActual.Permisos = datosDeUsuario.Permisos;
            Console.WriteLine("SE INICIO SESION");
            Navigation.NavigateTo("/Home");
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
