@page "/Registrarse"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioAlta usuarioAlta

<PageTitle>Registrar Usuario</PageTitle>
<div class="body-form">
    <section class="seccion-formulario">
        <div class="contenedor-formulario">
            <form class="form" @onsubmit="Ejecutar" style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
                <h1 class="titulo">Registrarse</h1>
                <div class="elemento-input">
                    <input type="text" @bind="_nombre" id="input-nombre" placeholder=" Nombre" required>
                </div>
                <div class="elemento-input">
                    <input type="text" @bind="_apellido" id="input-apellido" placeholder=" Apellido" required>
                </div>
                <div class="elemento-input">
                    <input type="email" @bind="_email" id="input-email" placeholder=" Email" required>
                </div>
                <div class="elemento-input">
                    <input type="password" @bind="_password" id="input-password" placeholder=" Contraseña" required>
                </div>
                <div>
                    <button type="submit" class="boton-inicio">Registrarse</button>
                </div>
                <div>
                    <a href="/IniciarSesion">Si ya tenes cuenta podes iniciar sesion !</a>
                </div>
            </form>
        </div>
    </section>
</div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div style="color: red;">
        @errorMessage
    </div>
}

@code {
    private string? _nombre;
    private string? _apellido;
    private string? _email;
    private string? _password;
    
    private string? errorMessage;


    private void Ejecutar (){
        try{
            usuarioAlta.Ejecutar(_nombre!,_apellido!,_email!,_password!);
            Navigation.NavigateTo("/");
        }
        catch(RepositorioException ex){
            errorMessage = ex.Message;
        }
    }
}
