* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.formulario-seccion {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
}

.elemento-input {
    margin-bottom: 15px;
}

.elemento-input input, .elemento-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.boton-inicio {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Espacio entre botones */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton-inicio:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Efecto hover de elevación */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

/* Estilos para la tabla de transacciones */
.tabla-transacciones {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.tabla-transacciones h2 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.table th {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}

.table td {
    background-color: #fff;
    color: #666;
}

.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table td:last-child {
    text-align: center;
}

.table td, .table th {
    border-radius: 4px;
}

.no-transacciones {
    text-align: center;
    font-size: 1.1rem;
    color: #888;
    margin-top: 20px;
}

/* Estilo para la fila de la tabla */
.table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tr:nth-child(even) {
    background-color: #fafafa;
}
